html {
    font-family: "helvetica neue",  "Arial", sans-serif;
}

body {
    background-color: #ffffff;
    margin: 0px;
}

p {
    color: #5d6660;
    font-size: 16px;
    line-height: 24px;
    font-family: "helvetica neue", "Arial", sans-serif;
}

header {
    height: 80px;
    background-color: #ffffff;
}

#header_container {
    width: 75%;
    margin: auto;
}

.col_3 {
    width: 32%;
    float: left;
}

.logo {
    padding-top: 30px;
}

.menu {
    padding-top: 15px;
}

.menu li {
    list-style-type: none;
    display: inline;
    font-size: .85em;
    color: #8e8e8e;
    padding-right: 30px;
}

.getStartedBTN {
    background-color: #6dc77a;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 20px;
    display: inline-block;
    float: right;
}

#top_section_main {
    background-image: url(/assets/friends.jpg);
    height: 740px;
    border: none;
    background-position: 50% 50%;
}

#top_section_content {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}

#top_section_content h1 {
    color: #ffffff;
    font-size: 4em;
    font-weight: 200;
    text-align: center;
    margin: 0px;
    padding-top: 100px;
    margin-bottom: 15px;
}

#top_section_content p {
    color: #ffffff;
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    margin-top: 0px;
}

.play_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 50px 0px 125px 0px;
}

.main_form h6 {
    font-family: sans-serif;
    font-size: .9em;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.main_form input {
    margin: 0px;
    width: 30%;
    height: 40px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 15px;
    font-weight: 100;
    border: none;
}

.main_form button {
    width: 30%;
    height: 42px;
    margin: 0px;
    font-family: sans-serif;
    font-size: 15px;
    color: #ffffff;
    background-color: #6dc77a;
    border: 0px;
    padding-left: 15px;
    font-weight: 100;
}

#feature_section {
    padding-top: 100px;
}

.feature_section_title {
    text-align: center;
    width: 70%;
    font-weight: 200;
    line-height: 1.5em;
    margin: auto;
}

.feature_content {
    margin: auto;
    width: 80%;
    text-align: center;
    padding-top: 100px;
}

.feature_content .col_3 img {
    width: 100%;
}

.feature_content .col_3 p {
    font-size: .9em;
    letter-spacing: 1px;
}

.feature_content .col_3 {
    padding: 10px;
    width: 30%;
}

.col_2 {
    float: left;
    width: 48%;
}

#showcase1_container {
    padding-top: 60px;
    background-color: #f6f8fa;
    width: 100%;
    clear: both;
}

.showcase {
    width: 80%;
    margin: auto;
    overflow: auto;
}

.showcase1pic {
    width: 100%;
}

.feature_text {
    padding-top: 300px;
    padding-left: 50px;
}

.section_title {
    width: 70%;
    text-align: left;
    margin: auto;
    font-weight: 200;
    line-height: 1.5em;
}

.section_right {
    width: 70%;
    margin: auto;
    padding: 10px;
}

.col_1 {
    width: 80%;
    margin: auto;
}

#call_to_action {
    background-image: url(/assets/darkdesk.png);
    background-position: 50% 50%;
    padding-bottom: 45px;
}

.action_title {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 4em;
    margin-top: 0;
    padding-top: 100px;
}

.col_1 p {
    color: #ffffff;
    font-size: 1.6em;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding-bottom: 60px;
}

.signupBTN {
    background-color: #6dc77a;
    color: #ffffff;
    font-size: 1em;
    text-decoration: none;
    font-weight: 200;
    padding: 25px 100px
}

.signupBTN:hover {
    background-color: #5cbf2a;
}

.signup_form {
    background-color: #f6f8fa;
    margin-right: 200px;
    padding: 0px 50px 10px 50px;
}

.signup_form h6 {
    color: #000000;
    text-align: center;
    padding-top: 15px;
    font-size: .9em;
}

.top_margin {
    margin-top: 100px;
    margin-left: 100px;
}

input {
    margin: 0px;
    width: 100%;
    height: 50px;
    font-family:sans-serif;
    font-size: 15px;
    font-weight: 100;
    border:none;
    margin-top: 15px;
    padding-left: 10px;
    font-style:italic;
}

button {
    width: 103.25%;
    height: 50px;
    font-family:sans-serif;
    font-size: 15px;
    font-weight: 100;
    margin: 0;
    background-color: #6dc77a;
    color: #ffffff;
    border: 0;
    margin-top: 15px;
}

footer {
    background-color: #000000;
    clear: both;
    height: 500px;
    background-image: url(/assets/footerbg.png);
    background-position: 50% 50%;
}

.social_footer {
    width: 33%;
    float: left;
    height: 40%;
}

.social_footer:hover {
    background-color: #000000;
    opacity: .5;
}

.center {
    width: 50px;
    margin: auto;
    padding-top: 60px;
}

.copyright {
    color: #ffffff;
    font-size: .9em;
    text-align: center;
    display: block;
    padding-top: 15px;
    font-weight: 200;
}