<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;2016 <a href="https://www.udemy.com/">The Complete Ruby on Rails Developer</a>
      by <a href="http://www.jonathanvo.com/">Jonathan Vo</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>

